html, body {
    max-width: 100%;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    color: var(--text);
    background-color: var(--bg);
    font-family: 'inter';
    margin: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2em;
    font-weight: 600;
}

.home-links {
    font-size: 1.4em;

    display: flex;
    justify-content: space-around;
    align-items: center;

    color: var(--text-muted);

    border-style: solid;
    border-color: var(--bg-glass-border);
    border-top-color: var(--bg-glass-border-light);
    border-radius: 1rem;
    border-width: 0.1rem;

    background-color: var(--bg-glass);

    height: 4rem;
    width: 100%;
    max-width: 50rem;
}

.contact {
    color: var(--text);
}

main {
    display: flex;
    justify-content: center;
    margin-top: 10rem;
}

.hero {
    color: var(--text);
    background-color: var(--bg-glass);
    padding: 2rem;

    height: 24rem;
    width: 100%;
    display: flex;
    justify-content: center;

    border-style: solid;
    border-color: var(--bg-glass-border);
    border-top-color: var(--bg-glass-border-light);
    border-width: 0.1rem;
    background-image: url('../assets/images/alex_portrait.png');
    background-repeat: no-repeat;
    background-size: 50%;
} 

.hero-title {
    font-size: 3rem;

}

.hero-subtitle {

}